<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">@ Connect</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if(!req.user) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    <% } else { %>
      <li><a href=/user/<%= req.user.id %>>Profile</li>
      <li><a href="/logout">Logut</a></li>
    <% } %>
    </ul>
  </div>
</nav>
