<div class="container">
  <div class="jumbotron">
    <center>
      <h1>@ Connect</h1>
    </center>
    <div class="row">
      <form action='/chatroom/create' method='post' class="form-group col-lg-6 col-lg-offset-3">
        <% if(flash && flash.err) { %>
          <p>
          <ul class="alert alert-danger">
            <% Object.keys(flash.err).forEach(function (error) { %>
              <li><%= JSON.stringify(flash.err[error]) %></li>
          <% }) %>
          </ul>
          </p>
        <% } %>
        <div class="form-group col-lg-12" id="roomNameDiv">
          <input class="form-control" type="text" name="roomName" placeholder="Type in a room name" id="roomName"></input>
        </div>
        <div class="form-group col-lg-4 col-lg-offset-2">
          <input class="btn btn-primary btn-md" type="submit" value="Create Room" onclick=createRoom(event)></input>
        </div>
        <div class="form-group col-lg-4">
          <input class="btn btn-primary btn-md" type="submit" value="Join Room" onclick=joinRoom(event)></input>
        </div>
      </form>
    </div>
  </div>
</div>

