<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Chat Room : <%- chatRoom.roomName %></div>
    </div>
    <div class="panel-body">
      <!-- Chat messages starts-->
      <ul class="chat">
        <li class="left clearfix"><span class="chat-img pull-left">
          <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
          <div class="header">
            <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
              <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
          </div>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
          dolor, quis ullamcorper ligula sodales.
          </p>
        </div>
        </li>
        <li class="right clearfix"><span class="chat-img pull-right">
          <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
          <div class="header">
            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
            <strong class="pull-right primary-font">Bhaumik Patel</strong>
          </div>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
          dolor, quis ullamcorper ligula sodales.
          </p>
        </div>
        </li>
        <li class="left clearfix"><span class="chat-img pull-left">
          <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
          <div class="header">
            <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
              <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
          </div>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
          dolor, quis ullamcorper ligula sodales.
          </p>
        </div>
        </li>
        <li class="right clearfix"><span class="chat-img pull-right">
          <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
          <div class="header">
            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
            <strong class="pull-right primary-font">Bhaumik Patel</strong>
          </div>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
          dolor, quis ullamcorper ligula sodales.
          </p>
        </div>
        </li>
      </ul>
      <!-- Chat messages end-->
    </div>
    <div class="panel-footer">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter your message">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>
